.emotive {
    outline: none;
    color: rgb(219, 219, 217);
    -webkit-transition: color 1s;
    -moz-transition:    color 1s;
    -ms-transition:     color 1s;
    -o-transition:      color 1s;
    transition:         color 1s;
    -webkit-transition: background-color 1s;
    -moz-transition:    background-color 1s;
    -ms-transition:     background-color 1s;
    -o-transition:      background-color 1s;
    transition:         background-color 1s;
}

.emotive:hover {
    outline: none;
    color: rgb(43, 43, 42);
    background-color: rgb(247, 235, 171);
}

.nav {
    background-color: rgb(57, 59, 87);
    color: rgb(219, 219, 217);
}

.btn-primary {
    border: none;
    background-color: rgb(57, 59, 87);
    color: rgb(219, 219, 217);
}
.btn-primary:hover {
    color: rgb(43, 43, 42);
    background-color: rgb(247, 235, 171);
}


#user_image {
    width: 62px;
    height: 62px;
  }
  