/*index and layout*/
.emotive {
    outline: none;
    color: rgb(219, 219, 217);
    -webkit-transition: color 1s;
    -moz-transition:    color 1s;
    -ms-transition:     color 1s;
    -o-transition:      color 1s;
    transition:         color 1s;
    -webkit-transition: background-color 1s;
    -moz-transition:    background-color 1s;
    -ms-transition:     background-color 1s;
    -o-transition:      background-color 1s;
    transition:         background-color 1s;
}

.emotive:hover {
    outline: none;
    color: rgb(43, 43, 42);
    background-color: rgb(247, 235, 171);
}

.nav {
    background-color: rgb(57, 59, 87);
    color: rgb(219, 219, 217);
}

.nav-link {
  color: rgb(219, 219, 217);
}

.nav-link:hover {
  color: rgb(247, 235, 171);
}

.btn-primary {
    border: none;
    background-color: rgb(57, 59, 87);
    color: rgb(219, 219, 217);
}
.btn-primary:hover {
    color: rgb(43, 43, 42);
    background-color: rgb(247, 235, 171);
}

#menu-icon {
  width: 100%;
  height: 100%;
}
#user_image {
    width: 100px;
    height: 100px;
  }

#user_image_bg {
  position: relative;
  width: 150px;
  height: 150px;
  background-color: rgba(215, 54, 92, 0.7);
  transition: background-color .1s;
  content: '';
  background: linear-gradient(45deg, rgb(97, 101, 148), rgb(213, 255, 232), rgb(247, 235, 171));
  background-size: 200% 200%;
  background-position: 0% 150%;
  animation-name: test_hover;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
  margin: auto;
  padding: 25px;
  border-radius: 10%;
}

blockquote {
  margin-top: 1.5em;
  padding: 5%;
}
.blockquote-footer {
  margin-top: 1em;
}
.mb-0 {
  color : rgb(43, 43, 42);
}
/*log mood*/
#select-mood-form {
  margin-top: 4vw;
  margin-bottom: 4vw;
  padding: 5%;
}
@media (max-width:600px){
  .lead {
    display: none;
  }
  #select-mood-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #log-mood {
    width: 200%;
    height:fit-content;
  }
}

#mood-select-color {
    width: 100px;
    height: 100px;
    background-color: white;
}

#log-mood {
  margin-top: 1.5vw;
}

.mood-word {
  margin-top: 4vw;
  font-size: large;
  border-radius: 5%;
  border: none;
}
.mood-word:focus {
  outline: none !important;
  border: 2px solid rgb(247, 235, 171);
}


.form-check-input {
  border: 3px solid rgb(57, 59, 87);
  width: 1em;
  height: 1em;
}
.form-check-input:checked {
  content: "";
  width: 1em;
  height: 1em;
  border-radius: 50%;
  transform: scale(1);
  transition: 120ms transform ease-in-out;
  box-shadow: inset white 1em 1em 1em;
}

.form-check-input:focus {
  outline: max(5px, 0.15em) solid currentColor;
  outline-offset: max(3px, 0.15em);
  outline-color: rgb(57, 59, 87);
}

.checkboxgroup {
  display: inline-block;
  text-align: center;
  margin-left: 5%;
}
.checkboxgroup label {
  display: block;
}

@keyframes test_hover {
  from {
    background-position: 0% 100%;
  }
  to {
    background-position: 100% 0%;
  }
}