{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <script src="static/js/logged_moods.js" defer></script>
    <div>
        <p class="display-4">{{ username }}</p>
        <div id="user_image_bg">
            <img src = {{ image_path }} class="rounded mx-auto d-block" alt="User image" id="user_image">
        </div>
    </div>
    <blockquote class="blockquote">
        <p class="mb-0"> "{{ quote_text }}"</p>
        <footer class="blockquote-footer">{{ quote_author }}</footer>
    </blockquote>

    {% if path_to_wc %}
        <div id="wordcloud" class="text-center container-fluid">
            <img src={{ path_to_wc }} alt="Your wordcloud" class="img-fluid" width="80%" border-radius="10%">
        </div>
    {% endif %}
    <table class="table container-fluid" style="width:80%">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Mood</th>
                <th scope="col">Rating</th>
                <th scope="col">Logged</th>
            </tr>
        </thead>
        <tbody>
            {% for mood in moods %}
            <tr>
                <th scope="row"> {{ loop.index }} </th>
                <td>
                    <div class="rounded mx-auto d-block moods" value={{ mood.rating }}>'</div>
                </td>
                <td>{{ mood.rating }}</td>
                <td>{{ mood.date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}