{% extends "layout.html" %}
{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Enter a Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Enter a password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirm password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
    <footer class="mb-5 small text-center">
        Password must be a minimum of 8 characters in length.
        Have at least one uppercase English letter.
        Have least one lowercase English letter.
        Have at least one digit.
        Have at least one special character.
    </footer>
{% endblock %}